<!DOCTYPE html>
<html>
<head>
    <title>Quick Notes</title>
    {{>meta}}
</head>

<body class="showing-notes">
<div id="site-container">
    <section id="notes-list" data-body-class="showing-notes">
        <ul>
        </ul>
    </section>

    <section id="editor" data-body-class="showing-form">
        <textarea></textarea>

        <div class="buttons">
            <a href="#list" class="button cancel">cancel</a>
            <a href="#list" class="button save">save</a>
        </div>
    </section>

    <section id="sync" data-body-class="showing-sync">
        <p>Synchronise your notes, pick up new notes made on other devices and make sure you don't lose the notes you've
            made so far on this device.</p>

        <p>
            <a href="#list" class="button">Cancel</a>
            <a id="doSync" href="#" class="button">Sync Now</a>
        </p>


        <p>
            Options:
            <label class="block">
                <input type="checkbox" id="post-all">
                Post all (not just changed)
            </label>
        </p>
    </section>

    {{^prod}}
        <script src="/{{version}}/js/ext/require.2.1.6.js" data-main="/{{version}}/js/require.config"></script>
    {{/prod}}
    {{#prod}}
        <script src="/{{version}}/js/notes-app.min.js"></script>
    {{/prod}}
</div>
</body>
</html>
